<!DOCTYPE html>
<html>
<head>
  <title>Autism Screening Questions</title>
</head>
<body>
  <h1>Autism Screening Questions</h1>
  <form method="POST" action="/submit">
    <% surveyQuestions.forEach(function(question) { %>
    <label for="selectedOption_<%= question %>"><%= question %>:</label>
    <select id="selectedOption_<%= question %>" name="selectedOption_<%= question %>">
      <option value="">Select an option</option> <!-- Initial empty option -->
      <% options.forEach(function(option) { %>
        <option value="<%= option %>"><%= option %></option>
      <% }); %>
    </select>
    <br>
    <% }); %>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>












